<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-sm p-4" style="width: 22rem; border-radius: 12px;">
    <h2 class="text-center mb-4" style="font-weight: 500;">Iniciar Sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="usuario" class="form-label">Usuario</label>
        <input
          type="text"
          id="usuario"
          class="form-control"
          formControlName="usuario"
          placeholder="ejemplo@correo.com"
        />
        <div
          class="form-text text-danger"
          *ngIf="loginForm.get('usuario')?.invalid && loginForm.get('usuario')?.touched"
        >
          Ingresa el usuario.
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          placeholder="********"
        />
        <div
          class="form-text text-danger"
          *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
        >
          La contraseña es obligatoria.
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary w-100"
        [disabled]="loginForm.invalid"
        style="border-radius: 8px;"
      >
        Ingresar
      </button>
    </form>

  </div>
</div>
